.AppoimentPage {
    background-color: transparent;

    .list {
        margin-top: 20px;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 16px;

        svg {
            fill: var(--primary-color);
        }
    }
}
