.HeaderDetails {
    width: 100%;
    background-color: transparent;

    .actionsWrap {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 16px;

        svg {
            fill: var(--primary-color);
        }
    }
}
