.Icon {
    color: currentcolor;
    transition: all var(--transition-base);

    &.fill {
        fill: currentcolor;
    }

    &.stroke {
        stroke: currentcolor;
    }

    &:hover {
        opacity: 0.8;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer !important;
}
