.AppLink {
    color: var(--text-primary);
    transition: all var(--transition-base);
    text-decoration: none;

    &:hover {
        opacity: 1;
        color: var(--accent-gold);
    }
}

.primary {
    color: var(--text-primary);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
